<!-- one way binding -->

<!-- <p>This is the component {{ComponentName}}</p>

<p>This is a component {{ComponentName ? ComponentName : "Not Found"}}</p>

<p>This is component {{returnName()}}</p> -->

<!-- property binding -->
<!-- <a [href]="linkUrl">Google</a> -->

<!-- event binding -->
<!-- <button (click)="linkUrl = 'https://www.youtube.com'; ComponentName = 'New Name'; print($event)">Click Me</button> -->

<!-- two way binding -->
<!-- <input type="text" [(ngModel)]="ComponentName">

<p [class.abc] = "isTrue">This is called class binding</p>
<button (click)="isTrue = !isTrue">Toggle Class Condition</button> -->

<router-outlet></router-outlet>